@import '/src/style/variables.scss';
.card-wrapper-container {
  color: $second-main-color;
  padding: 40px;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 600px;
  .card-wrapper-title-container {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  }
}
