@import "/src/style/variables.scss";

.coming-soon-movies-container {
  display: flex;
  flex-direction: column;
  background-color: $main-background-color;
  width: 1250px;
  @media screen and (max-width: 600px) {
    width: 50%;
  }

  @media screen and (max-width: 1400px) {
    width: 80%;
  }

  .btn-container {
    margin: 10px 0 20px 0;
  }
  .coming-soon-movies-wraper {
    display: flex;
    flex-wrap: wrap;
  }
  .coming-soon-movies-img {
    width: 350px;
    height: 510px;
  }
  .single-movie-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .single-movie-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .release-date {
    margin-bottom: 10px;
  }
  .show-more-btn {
    background: transparent;
    color: #ff4e45;
    border: 1px solid #ff4e45;
    padding: 5px 20px;
    cursor: pointer;
  }

  .single-new-movie {
    background: $main-color;
    margin: 10px;
    padding-bottom: 30px;
    width: 350px;
    border-radius: 5px;
    position: relative;
  }

  .show-more-about-new-movie {
    background: #0a0a0a;
    color: $main-color;
    font-size: 16px;
    width: 100%;
    visibility: visible;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 20px;
    height: 100%;
    @media screen and (max-width: $tablet-mode) {
      flex-direction: column;
    }
  }
  .close-more-content-icon {
    margin-right: 30px;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .hide-more-about-new-movie {
    display: block;
  }
  .display-movie-details {
    padding: 10px;
  }
  .hide-more-about-new-movie-btn {
    cursor: pointer;
  }
  .about-single-movie-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .side-text-about-movie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding-left: 20px;
  }
  .side-text-about-movie-title {
    font-size: 26px;
    @media screen and (max-width: $tablet-mode) {
      margin-top: 10px;
    }
  }
  .show-more-about-new-movie-img {
    margin-left: 20px;
    margin-top: 1px;
    width: 350px;
    height: 510px;
  }
  .movie-release-date {
    margin: 20px 0 0 0;
    font-size: 18px;
  }
  .single-movie-plot-info {
    line-height: 30px;
    font-size: 14px;
    color: $main-color;
    border: none;
    padding: 20px 0px 20px 1px;
    border-bottom: 1px solid $main-color;
    width: 760px;
    @media screen and (max-width: $tablet-mode) {
      width: 100%;
      margin-right: 30px;
    }
  }

  .single-movie-runtime-genres {
    margin: 10px 0 10px 0;
  }
  .single-movie-directors {
    margin-bottom: 10px;
  }
  .popular-movie-container {
    display: flex;
    min-width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .single-popular-movie {
    margin: 10px;
    background: $main-color;
  }
  .popular-movie-img {
    padding-bottom: 10px;
    width: 180px;
  }
  .popular-movie-title {
    max-width: 180px;
  }
}
