@import "/src/style/variables.scss";

.faq-container {
  width: 100%;
  height: 100vh;
  background: $main-background-color;
  .faq-title {
    font-size: 32px;
    margin: 20px;
  }
  .question-component {
    width: 50%;
    margin: 0 auto;
  }
}
