.question-container {
  text-align: center;

  .question-title {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .question-answer {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: start;
  }
}
