@import '/src/style/variables.scss';

.item-container {
  margin: 10px 0;

  .title {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
  }
  .card-wrapper {
    display: flex;
    justify-content: left;
    @media screen and (max-width: $mobile-bp) {
      display: block;
    }
  }
  .icon {
    padding-right: 15px;
    text-align: left;
  }
  .description-wrapper {
    text-align: left;
  }
  .name {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .years {
    color: grey;
  }
  .description {
    padding-top: 10px;
    font-size: 14px;
  }
  .description-item-wraper {
    padding: 0px;
    list-style: initial;
  }
  .description-item {
    padding: 10px 0;
    margin-left: 0;
    position: relative;
  }
}
