@import '/src/style/variables.scss';

.contact-form-container {
  max-width: 450px;
  width: 100%;
  min-height: 600px;
  margin-bottom: 50px;

  .contact-form {
    background-color: $main-background-color;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 50px 0;
  }
  .input-wrapper-input {
    padding: 10px 0;
  }
  .name-email-container {
    display: flex;
    justify-content: center;
  }
  .text-area-title {
    text-align: left;
    padding-bottom: 10px;
  }
  .submit-button-container {
    margin: 10px;
    text-align: center;
  }
}
