@import '/src/style/variables.scss';

.main-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 768px;
  .layout-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
  }
}
