@import '/src/style/variables.scss';

.fortune-cookie-container {
  background-color: $main-background-color;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  min-height: 600px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 50px 0;

  .open-fortune-cookie-title {
    margin: 30px;
    font-size: 30px;
    padding-bottom: 20px;
    position: relative;
  }
  .open-fortune-cookie-title::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: $brand-color;
    width: 80%;
    opacity: 0.6;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  .open-cookie-subtitle {
    text-align: center;
  }

  .fortune-img {
    background-image: url(./cookie.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    max-width: 500px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .prediction {
    background-color: $main-color;
    padding: 20px 25px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    max-width: 400px;
  }
  .rotate-img {
    transform: rotate(90deg);
  }
}
