@import "/src/style/variables.scss";

.news-main-container {
  background-color: $main-background-color;
  width: 80%;
  padding: 20px;
  .article-title {
    text-decoration: none;
    color: $second-main-color;
  }
  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .search-bar {
    background-color: $main-color;
    border: none;
    width: 500px;
    padding-left: 20px;
    font-size: 16px;
  }
  .button-input {
    width: 150px;
    background: #2caeba;
    color: $main-color;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    padding: 13px;
    word-spacing: 2px;
    cursor: pointer;
  }

  .articles-container {
    max-width: 1050px;
    margin: 0 auto;
  }
  .article-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: $main-color;
    margin-top: 20px;
    padding: 14px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    text-align: start;
  }
  .read-more-link {
    margin-top: 20px;
    display: block;
    width: 100px;
    background: rgba(0, 0, 0, 0.1);
    color: $second-main-color;
    text-align: center;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    padding: 5px;
    padding-left: 0;
    cursor: pointer;
    text-decoration: none;
  }

  .article-details-container {
    padding-right: 10px;
  }
  .image-wrapper {
    width: 200px;
    overflow: hidden;
    margin-top: 23px;
    text-align: center;
  }

  .article-image {
    max-width: 250px;
    max-height: 150px;
  }
  .show-details-hide {
    display: none;
  }
  .modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(12, 13, 14, 0.5);
    z-index: 1;
  }
  .open-modal-info {
    display: block;
    background: #1f4d87;
    color: $main-color;
    font-size: 16px;
    max-width: 400px;
    border-radius: 10px;
    bottom: 31%;
    visibility: visible;
    z-index: 10;
  }
  .show-modal-icon {
    cursor: pointer;
    margin-left: 10px;
    position: relative;
  }
  .source-container {
    color: $border-main-color;
    font-style: italic;
    font-size: 16px;
    margin-top: 20px;
    width: 210px;
  }
  .hide-element {
    display: none;
  }
  ul {
    padding: 0px 15px 40px 40px;
    text-align: start;
  }
  li {
    padding-bottom: 10px;
  }
  .about-results-block {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 40px;
  }
  .close-modal-icon {
    cursor: pointer;
  }
  .top-stories-title-and-icon {
    display: flex;
    justify-content: left;
  }

  @media only screen and (max-width: 800px) {
    .news-main-container {
      width: 400px;
    }
    .search-bar {
      width: 320px;
    }
    .button-input {
      width: 100px;
    }
    .article-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    .source-container {
      display: none;
    }
    .article-image {
      max-width: 450px;
      max-height: 450px;
      border-radius: 10px;
    }
    .image-wrapper {
      width: 100%;
      overflow: none;
      margin-top: 0;
      padding-left: 0;
    }
  }
}
