$main-color: white;
$second-main-color: #0a0a0a;
$brand-color: #2caeba;
$brand-color-2: #bff8fd;
$second-brand-color: #3482c3;
$header-background-color: #0b71c7;
$main-background-color: whitesmoke;
$border-main-color: rgb(186, 185, 185);
$mobile-bp: 768px;
$tablet-mode: 1024px;
