@import '/src/style/variables.scss';

.input-container {
  padding: 10px 0;
  .label {
    padding-bottom: 10px;
  }
  .input {
    padding: 10px 10px;
    border: 1px solid $border-main-color;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: block;
    width: 100%;
  }
}
