@import "/src/style/variables.scss";

.footer-container {
  color: $main-color;

  .footer-description {
    display: flex;
    padding-bottom: 10px;
  }
  .footer-title {
    margin-left: 10px;
  }
  .footer-privacy {
    margin-right: 10px;
    cursor: pointer;
  }
}
