@import '/src/style/variables.scss';

.skill-container {
  background-color: $main-color;
  color: black;
  width: 250px;
  text-align: start;
  border: 1px dashed $brand-color;
  position: relative;
  padding-bottom: 15px;

  .skill-icon {
    width: 65px;
    height: 65px;
    color: green;
    background-color: $brand-color;
    font-size: 3rem;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 32.5px);
    top: -31px;
    z-index: 1;
  }
  .skill-title {
    text-align: center;
    padding: 50px 10px 10px 10px;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .skill-object {
    list-style: none;
    padding: 0px 20px;
  }
  .skill-item {
    padding: 5px 0px;
    font-size: 16px;
  }
  .material-icons {
    color: $brand-color;
  }
  .icon-style {
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;
  }
}
@media only screen and (max-width: 1040px) {
  .skill-container {
    margin-bottom: 80px;
    width: 50%;
  }
}
