@import '/src/style/variables.scss';
$card-width: 450px;
.forecast-wrapper {
  position: relative;
  width: 100%;
  max-width: $card-width;
  @media screen and (max-width: $mobile-bp) {
    width: 100%;
  }
  .loading {
    margin: 20px;
    font-size: 20px;
  }
  .background {
    position: absolute;
    width: $card-width + 100px;
    height: 300px;
    background: #e0fcff;
    left: -50px;
    z-index: -1;
    bottom: 0;
    border-radius: 20px;
    opacity: 0.1;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
  }
  .forecast-container {
    color: $second-main-color;
    background-color: #dae2ec;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    min-height: 600px;
    width: 100%;
    padding: 30px;
  }
  .forecast-titile {
    font-size: 21px;
    color: $second-main-color;
    margin: 20px;
    position: relative;
    padding-bottom: 15px;
  }

  .autocomplete-container {
    margin: 0 auto;
    width: 100%;
  }
}
